.header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__logo{
    width: fit-content;
  }
}

.logo{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-start;
  column-gap: 6px;
  text-decoration: none;
  transition: $transition;
  font-size: 20px;
  color: $cl-gray;
  line-height: 1.2;
  text-align: left;
  &__icon{
    width: 20px;
  }
}