// fonts
$optimus: "OptimusPrincepsCyr";
$playfair: "Playfair Display";

// colors
$cl-gray: #3a3a3a;
$cl-black: #000000;
$cl-white: #fff;
$cl-border: #878787;
$cl-one-border: #dbdbdb;

// custom

$transition: 0.3s;